{% extends 'base_dash.html' %}
{% load static %}
{% block content %}

<div class="container-fluid">
        
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800">Catalog</h1>
          <!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a> -->
        </div>
        <div class="card mb-4">
                <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Manage Categories</h6>
                      </div>
            <div class="card-body">
                    <button class="btn btn-primary btn-icon-split btn-sm" data-toggle="modal" data-target="#editRules">
                            <span class="icon text-white-50">
                              <i class="fas fa-plus"></i>
                            </span>
                            <span class="text">Add Categories</span>
                          </button>
                    <button class="btn btn-primary btn-icon-split btn-sm" data-toggle="modal" data-target="#editRules">
                        <span class="icon text-white-50">
                            <i class="fas fa-edit"></i>
                        </span>
                        <span class="text">Edit Categories</span>
                        </button>
            </div>
        </div>
        <div class="row">
    <div class="col-lg-6">

        <!-- Dropdown Card Example -->
        <div class="card shadow mb-4">
          <!-- Card Header - Dropdown -->
          <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Categry 1</h6>
            <div class="dropdown no-arrow">
              <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                <div class="dropdown-header">Manage:</div>
                <a class="dropdown-item" data-toggle="modal" data-target="#editRules" href="#">Edit Items</a>
                <a class="dropdown-item" data-toggle="modal" data-target="#addRules" href="#">Add Items</a>
                
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Manage Catalog</a>
              </div>
            </div>
          </div>
          <!-- Card Body -->
          <div class="card-body">
              <!-- <div class="row"> -->
                    <div class="card shadow mb-4">
                            <div class="card-header py-3">
                              <h6 class="m-0 font-weight-bold text-primary">Item 1</h6>
                            </div>
                            <div class="card-body">
                              Coffee
                            </div>
                    </div>

                    <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                  <h6 class="m-0 font-weight-bold text-primary">Item 2</h6>
                                </div>
                                <div class="card-body">
                                  Coffee
                                </div>
                    </div>
          </div>
        </div>
    </div>

    <div class="col-lg-6">

            <!-- Dropdown Card Example -->
            <div class="card shadow mb-4">
              <!-- Card Header - Dropdown -->
              <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Category 2</h6>
                <div class="dropdown no-arrow">
                  <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                        <div class="dropdown-header">Manage:</div>
                        <a class="dropdown-item" data-toggle="modal" data-target="#editRules" href="#">Edit Items</a>
                        <a class="dropdown-item" data-toggle="modal" data-target="#addRules" href="#">Add Items</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Manage Catalog</a>
                      </div>
                </div>
              </div>
              <!-- Card Body -->
              <div class="card-body">
                </div>
            </div>
        </div>
        <div class="col-lg-6">

                <!-- Dropdown Card Example -->
                <div class="card shadow mb-4">
                  <!-- Card Header - Dropdown -->
                  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Category 3</h6>
                    <div class="dropdown no-arrow">
                      <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                            <div class="dropdown-header">Manage:</div>
                            <a class="dropdown-item" data-toggle="modal" data-target="#editRules" href="#">Edit Items</a>
                            <a class="dropdown-item" data-toggle="modal" data-target="#addRules" href="#">Add Items</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Manage Catalog</a>
                          </div>
                    </div>
                  </div>
                  <!-- Card Body -->
                  <div class="card-body">
                    </div>
                </div>
            </div>

            <div class="col-lg-6">

                    <!-- Dropdown Card Example -->
                    <div class="card shadow mb-4">
                      <!-- Card Header - Dropdown -->
                      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Category 4</h6>
                        <div class="dropdown no-arrow">
                          <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                          </a>
                          <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                                <div class="dropdown-header">Manage:</div>
                                <a class="dropdown-item" data-toggle="modal" data-target="#editRules" href="#">Edit Items</a>
                                <a class="dropdown-item" data-toggle="modal" data-target="#addRules" href="#">Add Items</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Manage Catalog</a>
                              </div>
                        </div>
                      </div>
                      <!-- Card Body -->
                      <div class="card-body">
                          </div>

                    </div>
                </div>
</div>
</div>
<div class="modal fade" id="addRules" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Add Rules</h5>
              <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
                <form method = "post" class="user">
                    <!-- {% csrf_token %} -->
                  <div class="form-group row">
                    <!-- {{ form.as_p }} -->
                    <div class="col-sm-6 mb-3 mb-sm-0">
                      <input type="text" class="form-control form-control-user" id="exampleFirstName" placeholder="First Name">
                    </div>
                    <div class="col-sm-6">
                      <input type="text" class="form-control form-control-user" id="exampleLastName" placeholder="Last Name">
                    </div>
                  </div>
                  <!-- <div class="form-group">
                    <input type="email" class="form-control form-control-user" id="exampleInputEmail" placeholder="Email Address">
                  </div> -->
                  <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                      <input type="text" class="form-control form-control-user" id="exampleInputPassword" placeholder="Password">
                    </div>
                    <div class="col-sm-6">
                      <input type="text" class="form-control form-control-user" id="exampleRepeatPassword" placeholder="Repeat Password">
                    </div>
                  </div>
                </form>
            </div>
            <div class="modal-footer">
              <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
              <a class="btn btn-primary" href="/">Submit</a>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="editRules" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Edit Items</h5>
                  <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                  </button>
                </div>
                <div class="modal-body">
                    <form method = "post" class="user">
                        <!-- {% csrf_token %} -->
                      <div class="form-group row">
                        <!-- {{ form.as_p }} -->
                        <div class="col-sm-6 mb-4 mb-sm-0">
                        <label for="sel1">Select Item</label>
                          <select class="form-control" id="sel1">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group row">
                          <div class="col-sm-6 mb-3 mb-sm-0">
                            <input type="text" class="form-control form-control-user" id="exampleFirstName" placeholder="First Name">
                          </div>
                          <div class="col-sm-6">
                            <input type="text" class="form-control form-control-user" id="exampleLastName" placeholder="Last Name">
                          </div>
                        </div>
    
                      <div class="form-group row">
                        <div class="col-sm-6 mb-3 mb-sm-0">
                          <input type="text" class="form-control form-control-user" id="exampleInputPassword" placeholder="Password">
                        </div>
                        <div class="col-sm-6">
                          <input type="text" class="form-control form-control-user" id="exampleRepeatPassword" placeholder="Repeat Password">
                        </div>
                      </div>
                    </form>
                </div>
                <div class="modal-footer">
                  <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                  <a class="btn btn-primary" href="/">Submit</a>
                </div>
              </div>
            </div>
          </div>
{% endblock %}