{% extends "base_dash.html" %}

{% block content %}

    {% if form %}
    <script>
        $(document).ready(function () {
             $("#wizardModal").modal('show');
            //  console.log();
        });
        </script>
    {% endif %}

{% endblock %}

<!-- Logout Modal-->
<div class="modal fade" id="wizardModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Done!</h5>
        </div>
        <div class="modal-body">Your business and rewards campaign have been set up. Go ahead and setup your catalogs and redemption rules.
        </div>
        <div class="modal-footer">
          <a class="btn btn-primary" href="/dashboard">Dashboard</a>
        </div>
      </div>
    </div>
  </div>