{% extends 'base_dash.html' %}
{% load static %}
{% block content %}

        <!-- Begin Page Content -->
        <script>
        $('#dropdown').click(function(){
          $('#chosen').text($("#text").text());
        });
      </script>
        <div class="container-fluid">
        
          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Rewards</h1>
            <!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a> -->
          </div>

                  <!-- Content Row -->
                  <div class="row">,
                    <!-- Grow In Utility -->
                    <div class="col-lg-6">
                      <div class="card position-relative">
                        <div class="card-header py-3">
                          <h6 class="m-0 font-weight-bold text-primary">Program</h6>
                        </div>
                        <div class="card-body">
                          <div class="mb-3">
                            <code>Choose Your Rewards Program</code>
                          </div>
                          <div class="small mb-1"></div>
                          <nav class="navbar navbar-expand navbar-light bg-light mb-4">
                            <a class="navbar-brand" id="text"></a>
                            <ul class="navbar-nav ml-auto">
                              <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  <span class="caret" id="chosen">Choose program</span>
                                </a>
                                <div id="dropdown" class="dropdown-menu dropdown-menu-right animated--grow-in" aria-labelledby="navbarDropdown">
                                  <a class="dropdown-item" href="/rewards">Program 1</a>
                                  <a class="dropdown-item" href="/rewards">Program 2</a>
                                  <a class="dropdown-item" href="/rewards">Program 3</a>
                                </div>
                              </li>
                            </ul>
                          </nav>
                        </div>
                      </div>
        
                    </div>
                </div>
                </div>

        <div class="container-fluid">
          <p></p>
          <!-- DataTales Example -->
          <div class="card mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Rules</h6>
            </div>
            
            <div class="card-body">
                <button class="btn btn-primary btn-icon-split btn-sm" data-toggle="modal" data-target="#addRules">
                    <span class="icon text-white-50">
                      <i class="fas fa-plus"></i>
                    </span>
                    <span class="text">Add</span>
                  </button>

              <button class="btn btn-primary btn-icon-split btn-sm" data-toggle="modal" data-target="#editRules">
                  <span class="icon text-white-50">
                    <i class="fas fa-edit"></i>
                  </span>
                  <span class="text">Edit</span>
                </button>
                <p></p>
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Number</th>
                      <th>Num Visits</th>
                      <th>Dollar Spend</th>
                    </tr>
                  </thead>
                  <!-- <tfoot>
                    <tr>
                      <th>Name</th>
                      <th>Position</th>
                      <th>Office</th>
                      <th>Age</th>
                      <th>Start date</th>
                      <th>Salary</th>
                    </tr>
                  </tfoot> -->
                  <tbody>
                    <tr>
                      <td>1</td>
                      <td>10</td>
                      <td>50</td>
                    </tr>
                    <tr>
                      <td>2</td>
                      <td>10</td>
                      <td>50</td>
                    </tr>
                    <tr>
                      <td>3</td>
                      <td>10</td>
                      <td>50</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        
        <div class="modal fade" id="addRules" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Add Rule</h5>
                  <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                  </button>
                </div>
                <div class="modal-body">
                    <form method = "post" class="user">
                        <!-- {% csrf_token %} -->
                      <div class="form-group row">
                        <!-- {{ form.as_p }} -->
                        <div class="col-sm-6 mb-3 mb-sm-0">
                          <input type="text" class="form-control form-control-user" id="exampleFirstName" placeholder="Num Visits">
                        </div>
                      </div>
                      <!-- <div class="form-group">
                        <input type="email" class="form-control form-control-user" id="exampleInputEmail" placeholder="Email Address">
                      </div> -->
                      <div class="form-group row">
                        <div class="col-sm-6 mb-3 mb-sm-0">
                          <input type="text" class="form-control form-control-user" id="exampleInputPassword" placeholder="Dollar Spend">
                        </div>
                      </div>
                    </form>
                </div>
                <div class="modal-footer">
                  <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                  <a class="btn btn-primary" href="/">Submit</a>
                </div>
              </div>
            </div>
          </div>

          <div class="modal fade" id="editRules" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">×</span>
                    </button>
                  </div>
                  <div class="modal-body">
                      <form method = "post" class="user">
                          <!-- {% csrf_token %} -->
                        <div class="form-group row">
                          <!-- {{ form.as_p }} -->
                          <div class="col-sm-6 mb-4 mb-sm-0">
                          <label for="sel1">Select rule</label>
                            <select class="form-control" id="sel1">
                              <option>1</option>
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                            </select>
                          </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6 mb-3 mb-sm-0">
                              <input type="text" class="form-control form-control-user" id="exampleFirstName" placeholder="Num Visits">
                            </div>
                          </div>
      
                        <div class="form-group row">
                          <div class="col-sm-6 mb-3 mb-sm-0">
                            <input type="text" class="form-control form-control-user" id="exampleInputPassword" placeholder="Dollar Spend">
                          </div>
                        </div>
                      </form>
                  </div>
                  <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="/">Submit</a>
                  </div>
                </div>
              </div>
            </div>
          
{% endblock %}
