{% extends "base_dash.html" %}
{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% block content %}
{% load widget_tweaks %}
<div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <div class="row">
              <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
              <div class="col-lg-7">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Easy Setup</h1>
                  </div>

                      <p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>

                      <form action="" method="post">
                        {% csrf_token %}
                       
                                {{ wizard.management_form }}
                                {% if wizard.form.forms %}
                                  {{ wizard.form.management_form }}
                                  {% for form in wizard.form.forms %}
                                        {{ form.media}}
                                        {{form}}
                                  {% endfor %}
                                {% else %}
                                {% for field in wizard.form %}
                                <p>
                                <label for="{{ field.id_for_label }}">{{ field.label}}</label>
                                {% if field.errors %}
                                {% render_field field class="form-control is-invalid" %}
                                <small class="form-text text-danger">
                                        {{field.errors}}
                                    </small>
                                
                                {% else %}
                                {% render_field field class="form-control" %}
                                {% endif %}
                                    <small class="form-text text-info">
                                        {{ field.help_text }}
                                    </small>
                                {% endfor %}
                                {% endif %}
                            </p>
                                    
                        {% if wizard.steps.prev %}
                        <!-- <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">Start Over</button> -->
                        <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">Back</button>
                        {% endif %}

                        <input type="submit" value = "Submit"/>
                      </form>
                  <hr>
                </div>
              </div>
            </div>
          </div>
        </div>
    
      </div>

{% endblock %}

